@import url('https://fonts.googleapis.com/css?family=Finger+Paint|Montserrat:400,700|Work+Sans');

/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font: 15px/28px "Work Sans", Helvetica, Arial, Verdana, sans-serif;
    word-spacing: normal;
    color: #6a6b6f;
    background: #1A1A1A;
    overflow-x: hidden;
}

/* Preloader Styles */
.preloader {
    background: #1A1A1A;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .35s ease;
}

.preloader-hiding {
    opacity: 0;
}

.preloader-hidden {
    display: none;
}

.stage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader .wrapper {
    position: relative;
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    padding-top: 0.75rem;
    padding-left: 0.5rem;
    padding-right: 0.36rem;
    padding-bottom: 0.75rem;
}

.sides {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.sides .side {
    position: absolute;
    background: #00A8E8;
}

.sides .side:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 0.15rem;
    -webkit-transform: translateX(-101%);
    transform: translateX(-101%);
    -webkit-animation: side-top ease 4s;
    animation: side-top ease 4s;
}

.sides .side:nth-child(2) {
    top: 0;
    right: 0;
    width: 0.15rem;
    height: 100%;
    -webkit-transform: translateY(-101%);
    transform: translateY(-101%);
    -webkit-animation: side-right ease 4s;
    animation: side-right ease 4s;
}

.sides .side:nth-child(3) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.15rem;
    -webkit-transform: translateX(101%);
    transform: translateX(101%);
    -webkit-animation: side-bottom ease 4s;
    animation: side-bottom ease 4s;
}

.sides .side:nth-child(4) {
    top: 0;
    left: 0;
    width: 0.15rem;
    height: 100%;
    -webkit-transform: translateY(101%);
    transform: translateY(101%);
    -webkit-animation: side-left ease 4s;
    animation: side-left ease 4s;
}

.text {
    position: relative;
}

.text--backing {
    opacity: 0;
}

.text--left {
    position: absolute;
    top: 0;
    left: 0;
    width: 51%;
    height: 100%;
    overflow: hidden;
}

.text--left .inner {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-animation: text-left 4s ease-in-out;
    animation: text-left 4s ease-in-out;
}

.text--right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.text--right .inner {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
    -webkit-animation: text-right 4s ease-in-out;
    animation: text-right 4s ease-in-out;
}

@-webkit-keyframes text-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    10% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    58% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    70% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    100% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}

@keyframes text-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    10% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    58% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    70% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    100% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}

@-webkit-keyframes text-right {
    0% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    10% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    58% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    70% {
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
    }

    100% {
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
    }
}

@keyframes text-right {
    0% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    10% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    58% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    70% {
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
    }

    100% {
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
    }
}

@-webkit-keyframes side-top {

    0%,
    14% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }

    24%,
    55% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    65% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }

    100% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }
}

@keyframes side-top {

    0%,
    14% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }

    24%,
    55% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    65% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }

    100% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }
}

@-webkit-keyframes side-right {

    0%,
    14%,
    23% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }

    30%,
    62% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    72% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }

    100% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }
}

@keyframes side-right {

    0%,
    14%,
    23% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }

    30%,
    62% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    72% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }

    100% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }
}

@-webkit-keyframes side-bottom {

    0%,
    14%,
    24%,
    28% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }

    37%,
    70% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    79% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }

    100% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }
}

@keyframes side-bottom {

    0%,
    14%,
    24%,
    28% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }

    37%,
    70% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    79% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }

    100% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }
}

@-webkit-keyframes side-left {

    0%,
    14%,
    24%,
    34%,
    35% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }

    44%,
    79% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    86% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }

    100% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }
}

@keyframes side-left {

    0%,
    14%,
    24%,
    34%,
    35% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }

    44%,
    79% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    86% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }

    100% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }
}

/* Nav Styles */
.main-menu {
    background: #fff;
    color: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 90px;
    overflow: hidden;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0) scale(1, 1);
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity: 1;
    z-index: 5;
}

.main-menu .logo {
    display: block;
    width: 25px;
    height: 25px;
    padding: 25px 0 0 22px;
}

.main-menu .logo:hover {
    animation: logo-ani 10s infinite linear;
}

@keyframes logo-ani {
    0% {
        transform: translateX(0px) translateY(0px);
    }

    2% {
        transform: translateX(5px) translateY(-5px);
    }

    4% {
        transform: translateX(0px) translateY(0px);
    }

    100% {
        transform: translateX(0px) translateY(0px);
    }
}

.main-menu img {
    width: 45px;
    height: 48px;
}

.main-menu>ul {
    margin: 0;
}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li a {
    position: relative;
    width: 255px;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #000;
    font-size: 14px;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .14s linear;
    transition: all .14s linear;
    text-shadow: 1px 1px 1px #fff;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    height: 48px;
}

.main-menu>ul.social-menu {
    position: absolute;
    font-size: 12px;
    left: 0;
    bottom: 0;
}

.settings {
    height: 100px;
    float: left;
    width: 250px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
}

/* Icons Styles */
.fa-lg {
    font-size: 1em;
}

.fa,
.fab {
    position: relative;
    display: table-cell;
    width: 90px;
    height: 36px;
    text-align: center;
    top: 12px;
    font-size: 14px;
}

nav.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow: hidden;
    opacity: 1;
}

a:hover,
a:focus {
    text-decoration: none;
    border-left: 0px solid #F7F7F7;
}

#active {
    color: #00A8E8;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.main-menu li:hover a,
.main-menu li.active a {
    color: #00A8E8;
    text-shadow: 0px 0px 0px;
}

/* Link Styles*/
.main-menu a:before {
    content: "";
    top: 0;
}

.main-menu a {
    -ms-user-select: none;
    padding: 10px;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    transition: color 1s ease;
}

.main-menu a:focus,
.info a:focus,
.main-menu a:hover,
.info a:hover {
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    outline: 0;
    color: #00a8e8;
    transition: color 1s ease;
    cursor: pointer;
}

.main-menu a:after,
.info a:after,
.main-menu a:before,
.info a:before {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.main-menu a:focus:after,
.info a:focus:after,
.main-menu a:focus:before,
.info a:focus:before,
.main-menu a:hover:after,
.info a:hover:after,
.main-menu a:hover:before,
.info a:hover:before {
    outline: 0;
    background-color: #00a8e8;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.main-menu a:before,
.info a:before {
    position: absolute;
    z-index: -1;
    width: 3px;
    height: 100%;
    right: 0
}

.main-menu a:focus:before,
.info a:focus:before,
.main-menu a:hover:before,
.info a:hover:before {
    width: 100%;
    height: 100%
}

.main-menu a:hover {
    color: #000 !important
}

.info a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #fff;
}

.info a:hover {
    color: #fff;
}

/* Landing Section Styles */
.landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-height: 100%;
    min-width: 100%;
}

.landing-overlay {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    background: #1A1A1A;
    opacity: 0.25;
}

.home-intro-landing {
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    line-height: 2;
    position: relative;
    font-family: 'Montserrat', Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0;
    pointer-events: none;
    z-index: 2;
}

.home-intro-landing .custom-lettering {
    font-family: 'Finger Paint', cursive;
    font-size: 80px;
    line-height: 1.3;
    display: inline-block;
    position: relative;
    font-weight: 500;
}

.btn-align-center {
    text-align: center;
}

.default-btn-shortcode {
    background-color: #00a8e8;
    background-image: none;
    color: #fff;
    border-radius: 99px;
    padding: 14px 28px;
    position: relative;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    overflow: hidden;
    margin-top: 30px !important;
    margin-bottom: 0px !important;
    font: normal 14px/16px "Montserrat", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    -webkit-border-radius: 99px;
    border-radius: 99px;
    padding: 14px 28px;
    text-align: center;
    max-width: 100%;
    box-sizing: border-box;
    white-space: normal;
    display: inline-block;
    border: none;
    text-decoration: none;
    z-index: 2;
}

.default-btn-shortcode:hover {
    background: #00a8e8;
    color: #ededed;
    -webkit-box-shadow: 0 20px 38px rgba(0, 0, 0, .16) !important;
    box-shadow: 0 20px 38px rgba(0, 0, 0, .16) !important;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
}

.scroll {
    background: #000 linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
    position: relative;
    width: 26px;
    height: 44px;
    border-radius: 50px;
    background-size: 100% 200%;
    -webkit-animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
    animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
    position: absolute;
    left: 50%;
    bottom: 5%;
    z-index: 2;
}

.scroll:before,
.scroll:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.scroll:before {
    width: 23px;
    height: 41px;
    background-color: #000;
    border-radius: 50px;
}

.scroll:after {
    background-color: #fff;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    -webkit-animation: trackBallSlide 5s linear infinite;
    animation: trackBallSlide 5s linear infinite;
}

@-webkit-keyframes colorSlide {
    0% {
        background-position: 0% 100%;
    }

    20% {
        background-position: 0% 0%;
    }

    21% {
        background-color: #4e5559;
    }

    29.99% {
        background-color: #ffffff;
        background-position: 0% 0%;
    }

    30% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }

    50% {
        background-position: 0% 0%;
    }

    51% {
        background-color: #4e5559;
    }

    59% {
        background-color: #ffffff;
        background-position: 0% 0%;
    }

    60% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }

    80% {
        background-position: 0% 0%;
    }

    81% {
        background-color: #4e5559;
    }

    90%,
    100% {
        background-color: #ffffff;
    }
}

@keyframes colorSlide {
    0% {
        background-position: 0% 100%;
    }

    20% {
        background-position: 0% 0%;
    }

    21% {
        background-color: #4e5559;
    }

    29.99% {
        background-color: #ffffff;
        background-position: 0% 0%;
    }

    30% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }

    50% {
        background-position: 0% 0%;
    }

    51% {
        background-color: #4e5559;
    }

    59% {
        background-color: #ffffff;
        background-position: 0% 0%;
    }

    60% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }

    80% {
        background-position: 0% 0%;
    }

    81% {
        background-color: #4e5559;
    }

    90%,
    100% {
        background-color: #ffffff;
    }
}

@-webkit-keyframes trackBallSlide {
    0% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }

    6% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }

    14% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }

    15%,
    19% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }

    28%,
    29.99% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }

    30% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }

    36% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }

    44% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }

    45%,
    49% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }

    58%,
    59.99% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }

    66% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }

    74% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }

    75%,
    79% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }

    88%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
}

@keyframes trackBallSlide {
    0% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-15px);
        transform: scale(1) translateY(-15px);
    }

    6% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(10px);
        transform: scale(0.9) translateY(10px);
    }

    14% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(45px);
        transform: scale(0.4) translateY(45px);
    }

    15%,
    19% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-15px);
        transform: scale(0.4) translateY(-15px);
    }

    28%,
    29.99% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-15px);
        transform: scale(1) translateY(-15px);
    }

    30% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-15px);
        transform: scale(1) translateY(-15px);
    }

    36% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(10px);
        transform: scale(0.9) translateY(10px);
    }

    44% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(45px);
        transform: scale(0.4) translateY(45px);
    }

    45%,
    49% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-15px);
        transform: scale(0.4) translateY(-15px);
    }

    58%,
    59.99% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-15px);
        transform: scale(1) translateY(-15px);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-15px);
        transform: scale(1) translateY(-15px);
    }

    66% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(10px);
        transform: scale(0.9) translateY(10px);
    }

    74% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(45px);
        transform: scale(0.4) translateY(45px);
    }

    75%,
    79% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-15px);
        transform: scale(0.4) translateY(-15px);
    }

    88%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-15px);
        transform: scale(1) translateY(-15px);
    }
}

@-webkit-keyframes nudgeMouse {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    20% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    80% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes nudgeMouse {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    20% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    80% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes nudgeText {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    20% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }

    30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }

    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes nudgeText {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    20% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }

    30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }

    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes colorText {
    21% {
        color: #4e5559;
    }

    30% {
        color: #ffffff;
    }

    51% {
        color: #4e5559;
    }

    60% {
        color: #ffffff;
    }

    81% {
        color: #4e5559;
    }

    90% {
        color: #ffffff;
    }
}

@keyframes colorText {
    21% {
        color: #4e5559;
    }

    30% {
        color: #ffffff;
    }

    51% {
        color: #4e5559;
    }

    60% {
        color: #ffffff;
    }

    81% {
        color: #4e5559;
    }

    90% {
        color: #ffffff;
    }
}

/* Intro & Outro Sections */
.intro,
.outro {
    height: 100vh;
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.intro .wrapper,
.outro .wrapper {
    width: 50%;
    padding-right: 10rem;
}

.intro .wrapper h2,
.outro .wrapper h2 {
    width: 80%;
    color: #fff;
    margin-bottom: 50px;
    font: normal bold 34px/44px "Montserrat", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

.intro .wrapper .wrapper-inner a,
.outro .wrapper .wrapper-inner a {
    text-decoration: none;
    color: #fff;
}

.underline {
    background-image: linear-gradient(120deg, #00A8E8 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

p .underline {
    background-size: 100% 0.1em;
}

.underline:hover {
    background-size: 100% 88%;
}

.code-editor {
    width: 360px;
    height: 360px;
    border-radius: 8px;
    background-color: #4c4b58;
    background-image: radial-gradient(circle at 13px 12px, #b2b2bf7c 10px, transparent 10px), radial-gradient(circle at 13px 12px, #b2b2bf7c 10px, transparent 10px), radial-gradient(circle at 13px 12px, #b2b2bf7c 10px, transparent 10px), linear-gradient(#24252d, #24252d), linear-gradient(#31313d, #31313d), linear-gradient(to right, #ffcd2d 25%, #b7d64f 0, #b7d64f 50%, #27c1dc 0), linear-gradient(to right, #b7d64f 0, #b7d64f 25%, #27c1dc 0), linear-gradient(to right, #27c1dc, #27c1dc), linear-gradient(to right, #f45f4b 25%, #8dca5b 0, #8dca5b 70%, #4688bc 0), linear-gradient(to right, #66c065 25%, #606cb3 0);
    background-size: 23px 23px, 23px 23px, 23px 23px, 100% 65px, 38px 100%, 200px 20px, 200px 20px, 253px 20px, 200px 20px, 200px 20px;
    background-position: 13px 16px, 44px 16px, 77px 16px, top left, top left, 79px 110px, 132px 150px, 79px 190px, 79px 230px, 132px 270px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, no-repeat;
    box-shadow: 20px 20px 0 0 #b2b2bf7c;
}

.outro .column-inner {
    width: 10%;
    padding-right: 30rem;
    margin-left: -10rem;
}

/* Portfolio Section */
.portfolio-section {
    margin-top: -150px;
}

.single-project-container {
    position: relative;
    overflow: hidden;
}

.slide {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    left: -100%;
    height: 100%;
    transition: 0.5s;
}

.single-project-container:hover .slide {
    transition: 0.5s;
    left: 90px;
}

.single-project-container a {
    width: 100%;
    height: 33.3vh;
    position: relative;
    z-index: 1;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-flow: column wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column wrap;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
}

.single-project-container a h4 {
    color: #fff;
    padding-left: 15vw;
    margin-left: 0;
    position: relative;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
    will-change: transition;
    margin-bottom: 0;
    margin-top: 0;
    font: normal 22px/30px "Montserrat", Helvetica, Arial, Verdana, sans-serif;
    text-transform: none;
}

.single-project-container:hover a h4 {
    padding-left: 18vw;
}

.single-project-container a p {
    font-size: 13px;
    color: #6a6b6f;
    opacity: .8;
    display: block;
    padding-left: 15vw;
    margin-bottom: 0;
    -webkit-transition: .5s ease all;
    transition: .5s ease all;
}

.single-project-container:hover a p {
    padding-left: 18vw;
    color: #fff;
}

.single-project-container a .fa {
    position: absolute;
    top: 48%;
    font-size: 28px;
    right: 17vw;
    opacity: 1;
    -webkit-transition: .375s ease all;
    transition: .375s ease all;
    color: #fff;
}

.single-project-container:hover a .fa {
    color: #00A8E8;
    font-size: 38px;
}

/* Services Styles */
.services {
    height: 100vh;
}

.services .wrapper {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin-top: 100px;
}

.services .services-row {
    display: flex;
    position: relative;
    padding-top: 30px;
    margin-left: 200px;
    box-sizing: border-box;
}

.services .services-row .single-service-box {
    box-sizing: border-box;
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: 100%;
    padding-top: 0px !important;
}

.services-row .single-service-box h4 {
    color: #6a6b6f;
    text-transform: uppercase;
    letter-spacing: 0;
    font: normal 18px/30px "Montserrat", Helvetica, Arial, Verdana, sans-serif;
}

/* Footer Styles */
footer {
    height: 60vh;
    background-color: #fff;
    margin: 0 auto;
    padding: 25px 0;
    text-align: center;
}

footer .cta {
    padding-bottom: 10vh;
    color: #000;
}

footer .cta .cta-title {
    font-family: finger paint;
    font-size: 80px;
    line-height: 1;

}

footer .cta .cta-subtitle {
    margin-top: -5vh;
    font-size: 18px;
}

footer .bottom-text-block {
    background-color: #000;
    padding: 5px 0;
    color: #6a6b6f;
    font-size: 13px;
    line-height: 23px;
}

footer .bottom-text-block .fa {
    color: #00a8e8;
    font-size: 13px;
    display: inline;
    top: 0;
}

/* Info Styles */
.info {
    margin: 100px 0 0 150px;
    height: 100vh;
}

.info h1 {
    color: #fff;
    font-family: finger paint;
    font-size: 50px;
    line-height: 1.3;
    font-weight: 500;
}

.info .wrapper {
    display: flex;
}

.info .wrapper .column-wrapper {
    width: 55%;
    padding-right: 50px;
}

.info img {
    border-radius: 5%;
    margin: 30px 0 0 15px;
}

.info .custom-subtitle {
    position: relative;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
}

.info p {
    margin-bottom: 10px;
}

.info a {
    z-index: 0;
}

/* Form Styles */
.inputBox {
    position: relative;
}

.inputBox input,
.inputBox textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.inputBox input:focus,
.inputBox textarea:focus {
    border-bottom: 2px solid #03a9f4;
}

.inputBox input:focus~label,
.inputBox textarea:focus~label {
    top: -25px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Project Styles */
.projects {
    margin-left: 150px;
}

.projects-heading {
    padding: 100px 0 100px;
}

.projects h1.portfolio {
    font: normal 800 44px/54px "Montserrat", Helvetica, Arial, Verdana, sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #fff;
}

.projects p.portfolio {
    font: normal 400 26px/36px "Montserrat", Helvetica, Arial, Verdana, sans-serif;
    color: #6a6b6f;
}

.big-picture {
    padding-bottom: 100px;
}

.big-picture img {
    border-radius: 0;
    width: 83vw;
    height: 90vh;
}

.gallery {
    margin-left: -60px;
    padding-bottom: 100px;
    height: 300px;
    width: 100vw;
    display: flex;
}

.gallery img {
    width: 420px;
}

.projects .btn-align-center {
    padding-bottom: 100px;
    margin-left: -150px;
}

.m4 {
    background-image: url(../img/mockups/phone-shop-mockup.png);
}

.m5 {
    background-image: url(../img/mockups/todo-mockup.png);
}

.m6 {
    background-image: url(../img/mockups/weatherApp-mockup.png);
}

.m7 {
    background-image: url(../img/mockups/breaking-bad-mockup.png);
}

.m8 {
    background-image: url(../img/mockups/form-mockup.png);
}

.m9 {
    background-image: url(../img/mockups/nuno-mockup.png);
}

.m10 {
    background-image: url(../img/mockups/solufix-mockup.png);
}

.m11 {
    background-image: url(../img/mockups/johnDoe-mockup.png);
}

.m12 {
    background-image: url(../img/mockups/myTunes-mockup.png);
}

.m13 {
    background-image: url(../img/mockups/meetingsApp-mockup.png);
}

.m14 {
    background-image: url(../img/mockups/omnipix-mockup.png);
}

.projects-background {
    background-position: center;
    background-size: cover;
    margin-left: -60px;
    height: 62vh;
}

.icon {
    height: 36px;
    padding-left: 10px;
    margin-bottom: -5px;
}

/* Chart Styles */

.bar-wrapper {
    margin: -35px auto;
}

.bar-wrapper img {
    height: 30px;
}

.progress-bar {
    position: relative;
    border: #ccc solid 1px;
    width: 200px;
    height: 20px;
    line-height: 20px;
    top: -35px;
    vertical-align: middle;
    overflow: hidden;
    margin: auto 75px;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.25);
}

.progress-bar .bar {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
}

.progress-bar .bar span {
    position: absolute;
    display: block;
    width: 200px;
    height: 100%;
    text-align: center;
}

.progress-bar .bar.positive {
    left: 0;
    -webkit-animation: animate-positive 4s 4s;
    animation: animate-positive 4s 4s;
}

.progress-bar .bar.positive.red {
    background: #E44D26;
    width: 80%;
}

.progress-bar .bar.positive.blue {
    background: #1F62AE;
    width: 60%;
}

.progress-bar .bar.positive.yellow {
    background: #FFD600;
    width: 25%;
}

.progress-bar .bar.positive.cyan {
    background: cyan;
    width: 25%;
}

.progress-bar .bar.positive.green {
    background: #41B883;
    width: 15%;
}

.progress-bar .bar.positive.blue2 {
    background: #01579B;
    width: 70%;
}

.progress-bar .bar.positive span {
    left: 0;
    color: #fff;
}

.progress-bar .bar.negative {
    background: #fff;
    right: 0;
    width: 25%;
    -webkit-animation: animate-negative 4s 4s;
    animation: animate-negative 4s 4s;
}

.progress-bar .bar.negative.red {
    width: 20%;
}

.progress-bar .bar.negative.blue {
    width: 40%;
}

.progress-bar .bar.negative.yellow,
.progress-bar .bar.negative.cyan {
    width: 75%;
}

.progress-bar .bar.negative.green {
    width: 85%;
}

.progress-bar .bar.negative.blue2 {
    width: 30%;
}

.progress-bar .bar.negative span {
    right: 0;
    color: #333;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@-webkit-keyframes animate-negative {
    0% {
        width: 100%;
    }
}

@keyframes animate-negative {
    0% {
        width: 100%;
    }
}