@import url('https://fonts.googleapis.com/css?family=Finger+Paint|Montserrat:400,700|Work+Sans');

/* CSS Variables */
:root {
    --main-dark: #1A1A1A;
    --main-grey: #6a6b6f;
    --main-blue: #00A8E8;
}

/* Global Styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%;
    }
}

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 50%;
    }
}

@media only screen and (min-width: 112.5em) {
    html {
        font-size: 75%;
    }
}




body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: var(--main-grey);
    background: var(--main-dark);
    overflow-x: hidden;
    box-sizing: border-box;
}

/* Preloader Styles */
.preloader {
    background: var(--main-dark);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .35s ease;
}

.preloader-hiding {
    opacity: 0;
}

.preloader-hidden {
    display: none;
}

.stage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader .wrapper {
    position: relative;
    color: #fff;
    font-size: 2.8rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.sides {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.sides .side {
    position: absolute;
    background: var(--main-blue);
}

.sides .side:nth-child(1) {
    top: 0;
    left: 0;
    width: 100%;
    height: 0.2rem;
    -webkit-transform: translateX(-101%);
    transform: translateX(-101%);
    -webkit-animation: side-top ease 4s;
    animation: side-top ease 4s;
}

.sides .side:nth-child(2) {
    top: 0;
    right: 0;
    width: 0.2rem;
    height: 100%;
    -webkit-transform: translateY(-101%);
    transform: translateY(-101%);
    -webkit-animation: side-right ease 4s;
    animation: side-right ease 4s;
}

.sides .side:nth-child(3) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    -webkit-transform: translateX(101%);
    transform: translateX(101%);
    -webkit-animation: side-bottom ease 4s;
    animation: side-bottom ease 4s;
}

.sides .side:nth-child(4) {
    top: 0;
    left: 0;
    width: 0.2rem;
    height: 100%;
    -webkit-transform: translateY(101%);
    transform: translateY(101%);
    -webkit-animation: side-left ease 4s;
    animation: side-left ease 4s;
}

.text {
    position: relative;
}

.text--backing {
    opacity: 0;
}

.text--left {
    position: absolute;
    top: 0;
    left: 0;
    width: 51%;
    height: 100%;
    overflow: hidden;
}

.text--left .inner {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-animation: text-left 4s ease-in-out;
    animation: text-left 4s ease-in-out;
}

.text--right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.text--right .inner {
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
    -webkit-animation: text-right 4s ease-in-out;
    animation: text-right 4s ease-in-out;
}

@-webkit-keyframes text-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    10% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    58% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    70% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    100% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}

@keyframes text-left {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    10% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    58% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    70% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    100% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }
}

@-webkit-keyframes text-right {
    0% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    10% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    58% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    70% {
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
    }

    100% {
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
    }
}

@keyframes text-right {
    0% {
        -webkit-transform: translateX(-200%);
        transform: translateX(-200%);
    }

    10% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    58% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    70% {
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
    }

    100% {
        -webkit-transform: translateX(-300%);
        transform: translateX(-300%);
    }
}

@-webkit-keyframes side-top {

    0%,
    14% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }

    24%,
    55% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    65% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }

    100% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }
}

@keyframes side-top {

    0%,
    14% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }

    24%,
    55% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    65% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }

    100% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }
}

@-webkit-keyframes side-right {

    0%,
    14%,
    23% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }

    30%,
    62% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    72% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }

    100% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }
}

@keyframes side-right {

    0%,
    14%,
    23% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }

    30%,
    62% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    72% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }

    100% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }
}

@-webkit-keyframes side-bottom {

    0%,
    14%,
    24%,
    28% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }

    37%,
    70% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    79% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }

    100% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }
}

@keyframes side-bottom {

    0%,
    14%,
    24%,
    28% {
        -webkit-transform: translateX(101%);
        transform: translateX(101%);
    }

    37%,
    70% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    79% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }

    100% {
        -webkit-transform: translateX(-101%);
        transform: translateX(-101%);
    }
}

@-webkit-keyframes side-left {

    0%,
    14%,
    24%,
    34%,
    35% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }

    44%,
    79% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    86% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }

    100% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }
}

@keyframes side-left {

    0%,
    14%,
    24%,
    34%,
    35% {
        -webkit-transform: translateY(101%);
        transform: translateY(101%);
    }

    44%,
    79% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    86% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }

    100% {
        -webkit-transform: translateY(-101%);
        transform: translateY(-101%);
    }
}

/* Nav Styles */

.hidden {
    display: none;
}

.main-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    color: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 7vw;
    overflow: hidden;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0) scale(1, 1);
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity: 1;
    z-index: 5;
}

.main-menu .logo {
    display: block;
    width: 2.5vw;
    height: 2.5vh;
    margin: 2vh 0 0 2vw;
}

.main-menu .logo:hover {
    animation: logo-ani 10s infinite linear;
}

@keyframes logo-ani {
    0% {
        transform: translateX(0px) translateY(0px);
    }

    2% {
        transform: translateX(5px) translateY(-5px);
    }

    4% {
        transform: translateX(0px) translateY(0px);
    }

    100% {
        transform: translateX(0px) translateY(0px);
    }
}

.main-menu img {
    width: 3vw;
    height: 6vh;
}

.main-menu li {
    position: relative;
    display: block;
    width: 18vw;
}

.main-menu li a {
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    position: relative;
    width: 19vw;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #000;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0) scale(1, 1);
    -webkit-transition: all .14s linear;
    transition: all .14s linear;
    text-shadow: 1px 1px 1px #fff;
}

.main-menu .nav-text {
    font-size: 1.2rem;
    font-weight: normal;
    position: relative;
    display: table-cell;
    width: 12vw;
    top: 2vh;
}

.main-menu .social-menu ul {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* Icons Styles */

.fa,
.fab {
    width: 6.5vw;
    height: 6vh;
    position: relative;
    display: table-cell;
    text-align: center;
    top: 2vh;
}

nav.main-menu:hover,
nav.main-menu.expanded {
    width: 16vw;
    overflow: hidden;
    opacity: 1;
}

a:hover,
a:focus {
    text-decoration: none;
    border-left: 0px solid #F7F7F7;
}

#active {
    color: var(--main-blue);
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

nav ul,
nav li {
    outline: 0;
    text-transform: uppercase;
}

.main-menu li:hover a,
.main-menu li.active a {
    color: var(--main-blue);
    text-shadow: 0px 0px 0px;
}

/* Link Styles*/
.main-menu a:before {
    content: "";
    top: 0;
}

.main-menu a {
    -ms-user-select: none;
    padding: 0.70rem;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
    white-space: nowrap;
    overflow: hidden;
    transition: color 1s ease;
}

.main-menu a:focus,
.info a:focus,
.main-menu a:hover,
.info a:hover {
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    outline: 0;
    color: var(--main-blue);
    transition: color 1s ease;
    cursor: pointer;
}

.main-menu a:after,
.info a:after,
.main-menu a:before,
.info a:before {
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.main-menu a:focus:after,
.info a:focus:after,
.main-menu a:focus:before,
.info a:focus:before,
.main-menu a:hover:after,
.info a:hover:after,
.main-menu a:hover:before,
.info a:hover:before {
    outline: 0;
    background-color: var(--main-blue);
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s
}

.main-menu a:before,
.info a:before {
    position: absolute;
    z-index: -1;
    width: 3px;
    height: 100%;
    right: 0
}

.main-menu a:focus:before,
.info a:focus:before,
.main-menu a:hover:before,
.info a:hover:before {
    width: 100%;
    height: 100%
}

.main-menu a:hover {
    color: #000 !important
}

.info a {
    text-decoration: none;
    color: #fff;
}

.info a:hover {
    color: #fff;
}

/* Landing Section Styles */
.landing {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-height: 100%;
    min-width: 100%;
    z-index: -2;
}

.landing-overlay {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    background: #1A1A1A;
    opacity: 0.25;
}

.home-intro-landing {
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0;
    pointer-events: none;
}

.home-intro-landing .custom-lettering {
    font-family: 'Finger Paint', cursive;
    font-size: 8rem;
    line-height: 1.3;
    display: inline-block;
    position: relative;
    font-weight: 500;
}

.btn-align-center {
    text-align: center;
}

.default-btn-shortcode {
    font: normal 1.5rem/1 "Montserrat", sans-serif;
    background-color: var(--main-blue);
    background-image: none;
    color: #fff;
    border-radius: 7.1em;
    padding: 14px 28px;
    position: relative;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    overflow: hidden;
    margin-top: 2rem !important;
    margin-bottom: 0 !important;
    text-transform: uppercase;
    text-align: center;
    min-width: 12vw;
    box-sizing: border-box;
    white-space: normal;
    display: inline-block;
    border: none;
    text-decoration: none;
}

.default-btn-shortcode:hover {
    background: var(--main-blue);
    color: #ededed;
    -webkit-box-shadow: 0 20px 38px rgba(0, 0, 0, .16) !important;
    box-shadow: 0 20px 38px rgba(0, 0, 0, .16) !important;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
}

.scroll {
    background: linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
    position: relative;
    width: 3em;
    height: 5em;
    border-radius: 2.8em;
    background-size: 100% 200%;
    -webkit-animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
    animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
    position: absolute;
    bottom: 5%;
    left: 49%;
}

.scroll:before,
.scroll:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.scroll:before {
    width: 2.6em;
    height: 4.8em;
    background-color: #000;
    border-radius: 5em;
}

.info .scroll:before {
    background-color: var(--main-dark);
}

.scroll:after {
    background-color: #fff;
    width: 4px;
    height: 5px;
    border-radius: 50%;
    -webkit-animation: trackBallSlide 5s linear infinite;
    animation: trackBallSlide 5s linear infinite;
}

@-webkit-keyframes colorSlide {
    0% {
        background-position: 0% 100%;
    }

    20% {
        background-position: 0% 0%;
    }

    21% {
        background-color: #4e5559;
    }

    29.99% {
        background-color: #ffffff;
        background-position: 0% 0%;
    }

    30% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }

    50% {
        background-position: 0% 0%;
    }

    51% {
        background-color: #4e5559;
    }

    59% {
        background-color: #ffffff;
        background-position: 0% 0%;
    }

    60% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }

    80% {
        background-position: 0% 0%;
    }

    81% {
        background-color: #4e5559;
    }

    90%,
    100% {
        background-color: #ffffff;
    }
}

@keyframes colorSlide {
    0% {
        background-position: 0% 100%;
    }

    20% {
        background-position: 0% 0%;
    }

    21% {
        background-color: #4e5559;
    }

    29.99% {
        background-color: #ffffff;
        background-position: 0% 0%;
    }

    30% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }

    50% {
        background-position: 0% 0%;
    }

    51% {
        background-color: #4e5559;
    }

    59% {
        background-color: #ffffff;
        background-position: 0% 0%;
    }

    60% {
        background-color: #4e5559;
        background-position: 0% 100%;
    }

    80% {
        background-position: 0% 0%;
    }

    81% {
        background-color: #4e5559;
    }

    90%,
    100% {
        background-color: #ffffff;
    }
}

@-webkit-keyframes trackBallSlide {
    0% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }

    6% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }

    14% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }

    15%,
    19% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }

    28%,
    29.99% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }

    30% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }

    36% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }

    44% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }

    45%,
    49% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }

    58%,
    59.99% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }

    66% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(5px);
        transform: scale(0.9) translateY(5px);
    }

    74% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(40px);
        transform: scale(0.4) translateY(40px);
    }

    75%,
    79% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-20px);
        transform: scale(0.4) translateY(-20px);
    }

    88%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-20px);
        transform: scale(1) translateY(-20px);
    }
}

@keyframes trackBallSlide {
    0% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-15px);
        transform: scale(1) translateY(-15px);
    }

    6% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(10px);
        transform: scale(0.9) translateY(10px);
    }

    14% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(45px);
        transform: scale(0.4) translateY(45px);
    }

    15%,
    19% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-15px);
        transform: scale(0.4) translateY(-15px);
    }

    28%,
    29.99% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-15px);
        transform: scale(1) translateY(-15px);
    }

    30% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-15px);
        transform: scale(1) translateY(-15px);
    }

    36% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(10px);
        transform: scale(0.9) translateY(10px);
    }

    44% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(45px);
        transform: scale(0.4) translateY(45px);
    }

    45%,
    49% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-15px);
        transform: scale(0.4) translateY(-15px);
    }

    58%,
    59.99% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-15px);
        transform: scale(1) translateY(-15px);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-15px);
        transform: scale(1) translateY(-15px);
    }

    66% {
        opacity: 1;
        -webkit-transform: scale(0.9) translateY(10px);
        transform: scale(0.9) translateY(10px);
    }

    74% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(45px);
        transform: scale(0.4) translateY(45px);
    }

    75%,
    79% {
        opacity: 0;
        -webkit-transform: scale(0.4) translateY(-15px);
        transform: scale(0.4) translateY(-15px);
    }

    88%,
    100% {
        opacity: 1;
        -webkit-transform: scale(1) translateY(-15px);
        transform: scale(1) translateY(-15px);
    }
}

@-webkit-keyframes nudgeMouse {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    20% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    80% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes nudgeMouse {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    20% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    30% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    60% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    80% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

/* Intro & Outro Sections */
.intro,
.outro {
    height: 95vh;
    margin: 5vh 0 0 15vw;
    display: flex;
    align-items: center;
}

.outro {
    height: 75vh;
}

.intro .wrapper,
.outro .wrapper {
    width: 40vw;
}

.intro .wrapper h2,
.outro .wrapper h2 {
    font: normal bold 3rem/1.5 "Montserrat", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
    width: 100%;
    color: #fff;
    margin-bottom: 2rem;
}

.intro .wrapper p,
.outro .wrapper p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.intro .wrapper .wrapper-inner a,
.outro .wrapper .wrapper-inner a {
    text-decoration: none;
    color: #fff;
}

.underline {
    background-image: linear-gradient(120deg, #00A8E8 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;
}

p .underline {
    background-size: 100% 0.1em;
}

.underline:hover {
    background-size: 100% 88%;
}

.code-editor {
    margin-left: 5vw;
    width: 30vw;
    height: 50vh;
    border-radius: 0.5em;
    background-color: #4c4b58;
    background-image: radial-gradient(circle at 13px 12px, #b2b2bf7c 10px, transparent 10px), radial-gradient(circle at 13px 12px, #b2b2bf7c 10px, transparent 10px), radial-gradient(circle at 13px 12px, #b2b2bf7c 10px, transparent 10px), linear-gradient(#24252d, #24252d), linear-gradient(#31313d, #31313d), linear-gradient(to right, #ffcd2d 25%, #b7d64f 0, #b7d64f 50%, #27c1dc 0), linear-gradient(to right, #b7d64f 0, #b7d64f 25%, #27c1dc 0), linear-gradient(to right, #27c1dc, #27c1dc), linear-gradient(to right, #f45f4b 25%, #8dca5b 0, #8dca5b 70%, #4688bc 0), linear-gradient(to right, #66c065 25%, #606cb3 0);
    background-size: 23px 23px, 23px 23px, 23px 23px, 100% 65px, 38px 100%, 200px 20px, 200px 20px, 253px 20px, 200px 20px, 200px 20px;
    background-position: 13px 16px, 44px 16px, 77px 16px, top left, top left, 79px 110px, 132px 150px, 79px 190px, 79px 230px, 132px 270px;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat-y, no-repeat;
    box-shadow: 20px 20px 0 0 #b2b2bf7c;
}

/* Portfolio Section */

.single-project-container {
    position: relative;
    overflow: hidden;
    height: 33.3vh;
}

.slide {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    height: 33.3vh;
    left: -150%;
    transition: 0.7s;
}

.single-project-container:hover .slide {
    transition: 0.7s;
    left: 7vw;
}

.single-project-container a {
    height: 33.3vh;
    width: 100%;
    position: relative;
    z-index: 1;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-flow: column wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column wrap;
    -webkit-transition: .7s ease all;
    transition: .7s ease all;
}

.single-project-container a h4 {
    color: #fff;
    padding-left: 15vw;
    position: relative;
    -webkit-transition: .7s ease all;
    transition: .7s ease all;
    will-change: transition;
    font: normal 2rem/2 "Montserrat", sans-serif;
    text-transform: none;
}

.single-project-container:hover a h4 {
    padding-left: 18vw;
}

.single-project-container a p {
    font-size: 1.4rem;
    color: #6a6b6f;
    opacity: .8;
    display: block;
    padding-left: 15vw;
    -webkit-transition: .7s ease all;
    transition: .7s ease all;
}

.single-project-container:hover a p {
    padding-left: 18vw;
    color: #fff;
}

.single-project-container a .fa {
    position: absolute;
    top: 48%;
    font-size: 2.5rem;
    right: 17vw;
    opacity: 1;
    -webkit-transition: .375s ease all;
    transition: .375s ease all;
    color: #fff;
}

.single-project-container:hover a .fa {
    color: var(--main-blue);
    font-size: 3.5rem;
}

/* Footer Styles */
footer {
    height: 50%;
    background-color: #fff;
    margin: 0 auto;
    padding-top: 10vh;
    text-align: center;
    bottom: 0;
}

footer .cta {
    padding-bottom: 10vh;
    color: #000;
}

footer .cta .cta-title {
    font-family: 'Finger Paint', cursive;
    font-size: 7rem;
    line-height: 1;
    padding-bottom: 5vh;
}

footer .cta .cta-subtitle {
    font-size: 2rem;
}

footer .bottom-text-block {
    font-size: 1.4rem;
    line-height: 1.8vh;
    background-color: #000;
    padding: 1vh 0;
    color: var(--main-grey);
}

.heart {
    background-image: linear-gradient(to right, #00A8E8, #00A8E8);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    animation: heart 1s infinite;
}

@keyframes heart {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1.1);
    }

    60% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/* Info Styles */
.info {
    margin-top: 15vh;
    margin-left: 12vw;
    height: 100vh;
}

.info h1 {
    color: #fff;
    font-family: 'Finger Paint', cursive;
    font-size: 6rem;
    line-height: 1.3;
    font-weight: 500;
}

.info .wrapper {
    display: flex;
}

.info .wrapper .column-wrapper {
    width: 55%;
    padding-right: 3.3em;
}

.info img {
    border-radius: 5%;
    margin-top: 10vh;
    margin-left: 5vw;
    width: 30vw;
}

.info .custom-subtitle {
    position: relative;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

.info p {
    font-size: 1.5rem;
    margin-top: 4vh;
}

.info a {
    z-index: 0;
}

/* Form Styles */
.inputBox {
    position: relative;
}

.inputBox input,
.inputBox textarea {
    width: 30vw;
    padding: 10px 0;
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 1.3rem;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.inputBox input:focus,
.inputBox textarea:focus {
    border-bottom: 2px solid var(--main-blue);
}

.inputBox input:focus~label,
.inputBox textarea:focus~label {
    font-size: 1.1rem;
    top: -2.1rem;
    left: 0;
    color: var(--main-blue);
}

input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: var(--main-blue);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0.3em;
}

/* Project Styles */

.projects {
    margin-left: 5vw;
}

.projects-heading {
    margin-left: 5vw;
    padding: 3rem 0 6.6rem;
}

.projects-heading p {
    font-size: 1.2rem;
}

.projects h1.portfolio {
    font: normal 800 4rem/3 "Montserrat", sans-serif;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #fff;
}

.projects p.portfolio {
    font: normal 400 2rem/2 "Montserrat", sans-serif;
    color: #6a6b6f;
}

.projects .icon {
    height: 2.5rem;
}

.projects .wrapper {
    margin-left: 6vw;
}

.projects .wrapper img {
    width: 80vw;
    position: center;
}

.big-picture {
    padding-bottom: 6.6em;
}

.big-picture img {
    width: 80vw;
    margin-left: 2vw;
}

.gallery {
    margin-left: -10vw;
    padding-bottom: 6.7em;
    width: 100vw;
    display: flex;
}

.projects .btn-align-center {
    margin: 10vh 10vw 10vh 5vw;
}

.edm {
    background-image: url(../img/mockups/edm-mockup.jpg);
}

.jm {
    background-image: url(../img/mockups/journey-mockup.jpg);
}

.rm {
    background-image: url(../img/mockups/rebu-mockup.jpg);
}

.em {
    background-image: url(../img/mockups/employee-mockup.jpg);
}

.psm {
    background-image: url(../img/mockups/phone-shop-mockup.jpg);
}

.tm {
    background-image: url(../img/mockups/todo-mockup.jpg);
}

.wm {
    background-image: url(../img/mockups/weather-mockup.jpg);
}

.bm {
    background-image: url(../img/mockups/breaking-mockup.jpg);
}

.nm {
    background-image: url(../img/mockups/nuno-mockup.jpg);
}

.sm {
    background-image: url(../img/mockups/solufix-mockup.jpg);
}

.om {
    background-image: url(../img/mockups/omnipix-mockup.jpg);
}

.projects-background {
    background-position: center;
    background-size: cover;
    height: 62vh;
}

.icon {
    height: 2rem;
    padding-left: 10px;
}

/* Chart Styles */

.chart-wrapper {
    margin-top: 9vh;
    width: 50%;
}

.bar-wrapper {
    height: 6vh;
    display: flex;
    align-items: center;
}


.bar-wrapper img {
    margin: 0;
    height: 2.5rem;
}

.progress-bar {
    position: relative;
    border: #ccc solid 1px;
    width: 13.3em;
    height: 1.3em;
    line-height: 1.3em;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 5rem 0 -10vw;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.25);
}

.progress-bar .bar {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
}

.progress-bar .bar span {
    position: absolute;
    display: block;
    width: 13.3em;
    height: 100%;
    text-align: center;
}

.progress-bar .bar.positive {
    left: 0;
    -webkit-animation: animate-positive 4s 4s;
    animation: animate-positive 4s 4s;
}

.progress-bar .bar.positive.red {
    background: #E44D26;
    width: 80%;
}

.progress-bar .bar.positive.blue {
    background: #1F62AE;
    width: 60%;
}

.progress-bar .bar.positive.yellow {
    background: #FFD600;
    width: 25%;
}

.progress-bar .bar.positive.cyan {
    background: cyan;
    width: 25%;
}

.progress-bar .bar.positive.purple {
    background: #764ABC;
    width: 15%;
}

.progress-bar .bar.positive.red2 {
    background: #CB3837;
    width: 25%;
}

.progress-bar .bar.positive.blue2 {
    background: #01579B;
    width: 50%;
}

.progress-bar .bar.positive span {
    left: 0;
    color: #fff;
}

.progress-bar .bar.negative {
    background: #fff;
    right: 0;
    width: 25%;
    -webkit-animation: animate-negative 4s 4s;
    animation: animate-negative 4s 4s;
}

.progress-bar .bar.negative.red {
    width: 20%;
}

.progress-bar .bar.negative.blue {
    width: 40%;
}

.progress-bar .bar.negative.yellow,
.progress-bar .bar.negative.cyan {
    width: 75%;
}

.progress-bar .bar.negative.purple {
    width: 85%;
}

.progress-bar .bar.negative.red2 {
    width: 75%;
}

.progress-bar .bar.negative.blue2 {
    width: 50%;
}

.progress-bar .bar.negative span {
    right: 0;
    color: #333;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@keyframes animate-positive {
    0% {
        width: 0%;
    }
}

@-webkit-keyframes animate-negative {
    0% {
        width: 100%;
    }
}

@keyframes animate-negative {
    0% {
        width: 100%;
    }
}

/* ---------- TABLET VERSION ---------- */

@media screen and (max-width: 1000px) {

    /* Menu */

    .main-menu .logo img {
        display: none;
    }


    /* Landing Section */

    .landing-content {
        margin-left: 10vw;
    }

    .scroll {
        left: 52%;
    }

    /* Intro & Outro Sections */
    .intro,
    .outro {
        height: 60vh;
        width: 100vw;
        margin-left: -5vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .outro {
        height: 40vh;
        margin-bottom: 10vh;
    }

    .wrapper-inner {
        width: 60vw;
        margin: 0;
        text-align: left;
    }

    .wrapper-inner p {
        padding-top: 5vh;
    }

    .code-editor {
        display: none;
    }

    /* Portfolio Section */
    .single-project-container {
        height: 20vh;
    }

    .single-project-container a {
        height: 20vh;
    }

    .single-project-container a h4 {
        margin-left: 5vw;
    }

    .single-project-container p {
        margin-left: 5vw;
    }

    .slide {
        height: 20vh;
        width: 100vw;
        left: -200%;
    }

    .single-project-container a .fa {
        display: none;
    }

    /* Info Section */
    .info {
        margin-left: 20vw;
        height: 70vh;
        width: 90vw;
        text-align: left;
    }

    .info .column-wrapper p {
        width: 70vw;
    }

    .info img {
        display: none;
    }

    .chart-wrapper {
        display: none;
    }

    .info .scroll {
        display: none;
    }

    .column-wrapper .contact p {
        width: 70vw;
    }

    .form-wrapper {
        width: 70vw;
        margin: 10vh 0;
    }

    .inputBox input,
    .inputBox textarea {
        width: 70vw
    }

    /* Projects Section */

    .projects-background {
        height: 30vh;
        width: 100vw;
    }

    .projects h1.portfolio {
        margin-left: 2vw;
    }

    .projects p.portfolio {
        margin-left: 2vw;
    }

    .projects-heading p {
        margin-left: 2vw;
    }

    .icon {
        height: 1.5rem;
        padding-left: 10px;
        margin-bottom: -5px;
    }

    .projects .wrapper {
        margin: 0 0 20vh 0;
        height: 50vh;
    }

    .projects .photos {
        height: 220vh;
        margin: 0;
        padding: 0;
    }

    .projects .wrapper img {
        margin-left: 8vw;
        width: 80vw;
        position: center;
    }

    .big-picture img {
        margin-left: 4.5vw;
        width: 60vw;
    }

    .gallery {
        display: none;
    }

    .info .wrapper {
        display: flex;
        flex-direction: column;
    }

    /* Footer Styles */

    footer {
        height: 40%;
    }

}

/* ---------- MOBILE VERSION ---------- */
@media screen and (max-width: 600px) {

    /* Mobile Menu */
    .main-menu {
        display: none;
    }

    .hidden {
        display: block;
    }

    .mobile-nav {
        display: inherit;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        text-align: center;
        background: var(--main-blue);
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: all .375s;
    }

    .mobile-nav.is-open {
        opacity: 1;
        z-index: 100;
        visibility: visible;
    }

    .mobile-nav::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -15px;
        background: var(--main-dark);
        transform-origin: 0 0;
        transform: skew(-14deg) translateX(-120%);
        transition: all .275s .1s;
    }

    .mobile-nav.is-open::before {
        transform: skew(-14deg) translateX(0);
    }

    .mobile-nav ul {
        display: inline-flex;
        flex-direction: column;
        height: 100%;
        align-items: flex-end;
        justify-content: center;
        transform: translateX(-18%) skew(-16deg);
    }

    .mobile-nav li {
        display: block;
        margin: .5rem 0;
        text-align: right;
        transform: skew(16deg);
    }

    .mobile-nav a {
        opacity: 0;
        transform: translateY(-10px);
    }

    .mobile-nav.is-open a {
        opacity: 1;
        transform: translateY(0);
    }

    .mobile-nav li:nth-child(1) a {
        transition: all 275ms 175ms
    }

    .mobile-nav li:nth-child(2) a {
        transition: all 275ms 225ms
    }

    .mobile-nav li:nth-child(3) a {
        transition: all 275ms 275ms
    }

    .mobile-nav li:nth-child(4) a {
        transition: all 275ms 325ms
    }

    .mobile-nav li:nth-child(5) a {
        transition: all 275ms 375ms
    }

    .mobile-nav ul,
    .mobile-nav li {
        list-style: none;
        padding: 0;
    }

    .mobile-nav a {
        font-family: "Montserrat", sans-serif;
        display: block;
        padding: 12px 0;
        color: #fff;
        font-size: 2.5rem;
        text-decoration: none;
    }

    .open-mobile-nav {
        position: fixed;
        top: 15px;
        padding-top: 20px;
        right: 15px;
        z-index: 500;
        background: none;
        border: 0;
        cursor: pointer;
    }

    .open-mobile-nav:focus {
        outline: none;
    }

    .burger {
        position: fixed;
        display: block;
        width: 28px;
        height: 4px;
        margin: 0 auto;
        background: #fff;
        transform: skew(5deg);
        transition: all .275s;
    }

    .burger:after,
    .burger:before {
        content: '';
        display: block;
        height: 100%;
        background: #fff;
        transition: all .275s;
    }

    .burger:after {
        transform: translateY(-12px) translateX(-2px) skew(-20deg);
    }

    .burger:before {
        transform: translateY(-16px) skew(-10deg);
    }

    /* Toggle State part */
    .is-open .burger {
        transform: skew(5deg) translateY(-8px) rotate(-45deg);
    }

    .is-open .burger:before {
        transform: translateY(0px) skew(-10deg) rotate(75deg);
    }

    .is-open .burger:after {
        transform: translateY(-12px) translateX(10px) skew(-20deg);
        opacity: 0;
    }

    .burger-text {
        display: block;
        font-size: 1.1rem;
        letter-spacing: .05rem;
        margin-top: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        color: #fff;
    }


    /* Landing Section */

    .landing-content {
        margin-left: 0;
    }

    .scroll {
        left: 45%;
    }

    /* Intro & Outro Sections */
    .intro {
        height: 90vh;
        width: 100vw;
        margin-left: -10vw;
    }

    .outro {
        height: 40vh;
        margin-left: -12vw;
    }

    /* Portfolio Section */

    .single-project-container {
        border-top: 1px solid #fff;
    }

    .single-project-container:last-child {
        border-bottom: 1px solid #fff;
    }

    .slide {
        display: none;
    }

    /* Info Section */
    .info {
        margin-left: 6vh;
        height: 110vh;
    }

    .info h1 {
        font-size: 5rem;
    }

    /* Projects Section */

    .projects {
        margin: 0;
    }

    .projects-heading {
        margin-left: 0;
    }

    .photos-heading {
        margin-top: 10vh;
    }

    .projects .wrapper {
        margin: 0;
        height: 30vh;
    }

    .projects .photos {
        height: 150vh;
        margin: 0;
        padding: 0;
    }

    .projects .wrapper img {
        margin-left: 10vw;
        width: 80vw;
    }

    .projects .btn-align-center {
        margin-left: 10vw;
        margin-top: 10vh;
    }

    .big-picture img {
        margin: 0;
        width: 40vw;
    }

    /* Footer Section */

    footer {
        height: 60%;
        padding-top: 5vh;
    }

    footer .cta {
        padding-bottom: 2vh
    }

    footer .cta .cta-title {
        padding-bottom: 0;
    }
}

/* ---------- MOBILE LANDSCAPE VERSION ---------- */
@media screen and (max-height: 500px) {

    /* Mobile Menu */
    .main-menu {
        display: none;
    }

    .hidden {
        display: block;
    }

    .mobile-nav {
        display: inherit;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        text-align: center;
        background: var(--main-blue);
        opacity: 0;
        z-index: -1;
        visibility: hidden;
        transition: all .375s;
    }

    .mobile-nav.is-open {
        opacity: 1;
        z-index: 100;
        visibility: visible;
    }

    .mobile-nav::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: -15px;
        background: var(--main-dark);
        transform-origin: 0 0;
        transform: skew(-14deg) translateX(-120%);
        transition: all .275s .1s;
    }

    .mobile-nav.is-open::before {
        transform: skew(-14deg) translateX(0);
    }

    .mobile-nav ul {
        display: inline-flex;
        flex-direction: column;
        height: 100%;
        align-items: flex-end;
        justify-content: center;
        transform: translateX(-18%) skew(-16deg);
    }

    .mobile-nav li {
        display: block;
        margin: .5rem 0;
        text-align: right;
        transform: skew(16deg);
    }

    .mobile-nav a {
        opacity: 0;
        transform: translateY(-10px);
    }

    .mobile-nav.is-open a {
        opacity: 1;
        transform: translateY(0);
    }

    .mobile-nav li:nth-child(1) a {
        transition: all 275ms 175ms
    }

    .mobile-nav li:nth-child(2) a {
        transition: all 275ms 225ms
    }

    .mobile-nav li:nth-child(3) a {
        transition: all 275ms 275ms
    }

    .mobile-nav li:nth-child(4) a {
        transition: all 275ms 325ms
    }

    .mobile-nav li:nth-child(5) a {
        transition: all 275ms 375ms
    }

    .mobile-nav ul,
    .mobile-nav li {
        list-style: none;
        padding: 0;
    }

    .mobile-nav a {
        font-family: "Montserrat", sans-serif;
        display: block;
        padding: 6px 0;
        color: #fff;
        font-size: 2.5rem;
        text-decoration: none;
    }

    .open-mobile-nav {
        position: fixed;
        top: 15px;
        padding-top: 20px;
        right: 15px;
        z-index: 500;
        background: none;
        border: 0;
        cursor: pointer;
    }

    .open-mobile-nav:focus {
        outline: none;
    }

    .burger {
        position: fixed;
        display: block;
        width: 28px;
        height: 4px;
        margin: 0 auto;
        background: #fff;
        transform: skew(5deg);
        transition: all .275s;
    }

    .burger:after,
    .burger:before {
        content: '';
        display: block;
        height: 100%;
        background: #fff;
        transition: all .275s;
    }

    .burger:after {
        transform: translateY(-12px) translateX(-2px) skew(-20deg);
    }

    .burger:before {
        transform: translateY(-16px) skew(-10deg);
    }

    /* Toggle State part */
    .is-open .burger {
        transform: skew(5deg) translateY(-8px) rotate(-45deg);
    }

    .is-open .burger:before {
        transform: translateY(0px) skew(-10deg) rotate(75deg);
    }

    .is-open .burger:after {
        transform: translateY(-12px) translateX(10px) skew(-20deg);
        opacity: 0;
    }

    .burger-text {
        display: block;
        font-size: 1.1rem;
        letter-spacing: .05rem;
        margin-top: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        text-align: center;
        color: #fff;
    }


    /* Landing Section */

    .landing-content {
        margin-left: 0;
    }

    .scroll {
        display: none;
    }

    /* Intro & Outro Sections */
    .intro {
        height: 90vh;
        width: 100vw;
        margin-left: -10vw;
    }

    .outro {
        height: 40vh;
        margin-left: -12vw;
    }

    /* Portfolio Section */

    .single-project-container {
        border-top: 1px solid #fff;
    }

    .single-project-container:last-child {
        border-bottom: 1px solid #fff;
    }

    .slide {
        display: none;
    }

    /* Info Section */
    .info {
        margin-left: 6vh;
        height: 110vh;
    }

    .info h1 {
        font-size: 5rem;
    }

    /* Projects Section */

    .projects {
        margin: 0;
        height: 260vh;
    }

    .projects-background {
        height: 60vh;
    }

    .projects-heading {
        margin-left: 0;
    }

    .photos-heading {
        margin-top: 10vh;
    }

    .projects .wrapper {
        margin: 0;
        height: 30vh;
    }

    .projects .photos {
        height: 150vh;
        margin: 0;
        padding: 0;
    }

    .projects .wrapper img {
        margin-left: 15vw;
        width: 70vw;
    }

    .projects .btn-align-center {
        margin-left: 10vw;
        margin-top: 60vh;
    }

    /* Footer Section */

    footer {
        height: 70%;
        padding-top: 5vh;
    }

    footer .cta {
        padding-bottom: 2vh
    }

    footer .cta .cta-title {
        padding-bottom: 0;
    }

    footer .bottom-text-block {
        line-height: 3vh
    }
}